.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.modal {
  width: 90%;
  height: 90vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eee;
  z-index: 1000;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: auto;
  border-radius: 5px;
}
.modal::-webkit-scrollbar {
  width: 10px;
}
.modal::-webkit-scrollbar-thumb {
  background: #000000aa;
  border-radius: 10px;
}
.modal-container {
  display: flex;
  align-items: center;
}
.modal-image-container {
  width: 60%;
  height: auto;
  background-color: #fff;
  padding: 70px 50px;
}
.modal-image {
  width: 100%;
  height: 500px;
  background-color: #000;
  transition: 0.5s;
}
.modal-image:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 5px #000;
}
.modal-image > img {
  width: 100%;
  height: 100%;
}
.modal-title {
  width: 40%;
  height: 300px;
  position: relative;
  left: -160px;
  background-color: #a60000aa;
  padding-left: 100px;
}
.modal h1 {
  color: #fff;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.modal a {
  text-decoration: none;
  color: #000;
}
.modal p {
  max-width: 1024px;
  margin: auto;
  text-align: left;
  line-height: 1.6;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 20px;
  margin-top: 20px;
  /* color: #fff; */
}
@media screen and (max-width: 776px) {
  .modal {
    width: 100%;
    height: 100vh;
  }
  .modal-container {
    flex-direction: column;
    justify-content: center;
  }
  .modal-image {
    height: 300px;
  }
  .modal-image-container {
    padding: 0px;
    width: 100%;
  }
  .modal-title {
    left: 0;
    height: auto;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
  }
  .modal-close {
    position: relative;
    left: 90%;
  }
}

.modal-close {
  position: sticky !important;
  top: 0;
  left: 100%;
  z-index: 10;
}
@media screen and (min-width: 776px) {
  .modal-container {
    animation-name: modal;
    animation-duration: 1s;
  }
  .modal-title {
    animation: modalTitle 0.8s linear;
  }
}
@keyframes modal {
  from {
    transform: translateY(100px);
    opacity: 0.1;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes modalTitle {
  from {
    transform: translateX(200px);
    opacity: 0.1;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
